<p id="notice"><%= notice %></p>
<p>
  <b>TRAINNUMBER:</b>
  <%#= @traindetails.number %>
</p>

<p>
  <b>TRAINNAME:</b>
  <%#= @traindetails.name %>
</p>

<%= link_to 'Edit', edit_traindetails_path %> |
<%= link_to 'Back', traindetails_path %>

