<html >
<head>
<title>Simple</title>

<link href="/assets/lowyer_information.css" rel="stylesheet" type="text/css" />

<%= javascript_include_tag "application" %>
</head>
<body>

      
      <%=yield%>
      </body>
</html>
